@import 'bootstrap/dist/css/bootstrap';
.text-ab{
    color:red !important;
}
.chat-card{
    height:600px;
    
    margin-bottom:50px;
}
.logo{
    background-color:grey;
    border-radius:40px;
    margin-top:80px;
}
.margin{
    margin-top:80px;
}
.login-card{
    background-color:transparent;
    width:50%vw;
}
.signup{
    height:40px;
    width:120px;
    margin-top:70px;
    margin-left:100px;
}